logging {
  level = "info"
  format = "logfmt"
}

loki.source.file "airflow_logs" {
  targets = [
    {__path__ = "/var/log/airflow/**/*.log", job = "airflow_logs"},
  ]
  forward_to = [loki.write.local.receiver]

  file_match {
    enabled     = true
    sync_period = "10s"
  }
}

loki.source.file "spark_logs" {
  targets = [
    {__path__ = "/var/log/spark/**/*.out", job = "spark_logs"},
  ]
  forward_to = [loki.write.local.receiver]

  file_match {
    enabled     = true
    sync_period = "10s"
  }
}

loki.write "local" {
  endpoint {
    url = "http://loki:3100/loki/api/v1/push"
  }
}
